<!DOCTYPE html>
<html>
  <head>
    <title>Find That Song - Spotify Recently Played</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <h1>Find That Song</h1>
    <a href="/login" class="login-button">LOGIN with Spotify</a>
    <div class="description">
      <p>Missed the moment and didn't save your favorite song? Check your recent listens on Spotify</p>
      <p>Also discover your top tracks and artists over different time periods!</p>
    </div>
  </body>
</html>
